

    <footer id="site-footer" class="row clearfix" role="contentinfo">
      <div class="ten columns phone-two">
        <ul class="inline-list">
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/about" title="About">About</a></li>
          <li><a href="/posts" title="Posts">Posts</a></li>
          <li><a href="/contact" class="email" title="Contact">Contact</a></li>
          <li><a href="http://twitter.com/pasupulaphani">@pasupulaphani</a></li>
        </ul>
      </div>
      <a class="fi-arrow-up size-24 footer-back-up" href="#" title="Back to the top"></a>
    </footer>