<nav data-topbar="data-topbar" class="top-bar" role="navigation">
    <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href=""><span>Admin</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="has-form"><a ng-click="logout()" href="" value="Logout" class="alert button expand">Logout</a>
            </li>
        </ul>
        <ul class="right">
            <li class="has-dropdown not-click">
                <a href="javascript: void(0)">Posts</a>
                <ul class="dropdown">
                    <li ng-repeat="(type, desc) in postTypes">
                        <a ng-href="#/posts/status/{{type}}">{{desc}}</a>
                    </li>
                </ul>
            </li>
            <li class="has-form"><a href="/posts/new" value="New Post" class="button expand">New Post</a>
            </li>
        </ul>
    </section>

</nav>
