<div class="row">
    <div class="two columns phone-two hide-for-small"></div>
    <div class="large-8 medium-8 phone-two small-10 intro">
        <div class="large-2 medium-2 small-3 columns">
            <div id="gavatar" class="">
                <a class="th radius">
                    <img src="{{me.image}}">
                </a>
            </div>
        </div>
        <div class="large-10 medium-10 small-12 columns">
            <h1>Phani Pasupula<a href="http://twitter.com/PhaniPasupula"> @PhaniPasupula</a>
            </h1>
            <h2 class="hide-for-small">
                <span>Developer in Ruby, NodeJs enthusiast.
                    <br>Runner, Hicker, Developer.</span>
            </h2>
        </div>
    </div>
</div>
