<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="x-dns-prefetch-control" content="off">

<title>{{site.name}}</title>

<link type="text/plain" rel="author" href="/humans.txt">
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
<link rel="apple-touch-icon" href="/custom_icon.png">

<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="phaninder, pasupulaphani, phani">
<meta name="description" content={{me.description}}>
<meta name="author" content="Phaninder Pasupula">
<meta name="copyright" content="© Copyright 2012 to Present">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- FB api and open graph -->
<meta property="fb:app_id" content="515239655250335">
<meta property="og:title" content="{{post.title}}">
<meta property="og:description" content={{post.foreword}}>
<meta property="og:type" content="blog">
<meta property="og:url" content="{{site.url}}">
<meta property="og:image" content="{{me.image}}">
<meta property="og:site_name" content="{{site.name}}">

<!-- twitter card -->
<meta property="twitter:account_id" content="205844733">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pasupulaphani">
<meta name="twitter:title" content="phaninder.com">
<meta name="twitter:description" content={{me.description}}>
<meta name="twitter:creator" content="@pasupulaphani">
<meta name="twitter:image:src" content="{{me.image}}">
<meta name="twitter:domain" content="phaninder.com">

<!-- g+ card -->
<meta itemprop="name" content="phaninder.com">
<meta itemprop="description" content={{me.description}}>
<meta itemprop="image" content="{{me.image}}">


<link rel="canonical" href="{{url}}" />

<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../../bower_components/foundation/css/foundation.css" />
<link rel="stylesheet" href="../../bower_components/foundation-icon-fonts/foundation-icons.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" type="text/css" href="styles/font.css">
<link rel="stylesheet" type="text/css" href="styles/icon.css">
<link rel="stylesheet" type="text/css" href="styles/main.css">
<link rel="stylesheet" type="text/css" href="styles/offcanvas.css">
<!-- endbuild -->