<section role="findme">
    <div id="findme" class="row">
        <div class="large-8 columns">
            <h3>Share this post</h3>
            <ul id="shareposticons" class="inline-list slideExpandUp">
                <li>
                    <a class="twitter-share-button" href="#"></a>
                </li>
                <li>
                    <div class="g-plus" </div>
                </li>
                <li style="margin-top: -2px;">
                    <div class="fb-share-button"></div>
                </li>
                <li>
                    <div class="g-plusone"></div>
                </li>
                <li>
                    <div class="fb-like"></div>
                </li>
            </ul>
        </div>
    </div>
</section>
