<div>
    <div class="container ng-scope">
        <div class="row">
            <div class="center-form panel">
                <div class="panel-body">
                    <h3 class="text-center">Log in</h3>
                    <form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">

                        <div>
                            <label class="error">
                                <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
                            </label>
                            <small ng-show="loginForm.email.$dirty && loginForm.email.$invalid" class="error">
                                <span ng-show="loginForm.email.$error.required">Tell us your email.</span>
                                <span ng-show="loginForm.email.$error.email">This is not a valid email.</span>
                            </small>
                        </div>
                        <br />
                        <div>
                            <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="password" ng-model="password" placeholder="Password" required="">
                        </div>

                        <input type="submit" class="success button radius round" ng-disabled="loginForm.$invalid" value="Log in" />

                        <div class="separator">
                            <h6 class="text center">or</h6>
                            <hr>
                        </div>
                    </form>

                    <button class="button radius round button-github" ng-click="authenticate('github')">
                        <i class="step fi-social-github"></i> Sign in with GitHub
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
