<div class="row" ng-repeat="post in posts | limitTo:1">
    <section role="main">
        <div class="row post">
            <div class="large-10 small-12 columns">
                <h1>{{post.title}}</h1>
                <p></p>
                <div id="post-body" ng-bind-html="post.body"></div>
                <br />
                <span>{{post.created | date:'fullDate'}}</span>
                <p></p>
            </div>
        </div>
    </section>
    <div ng-include="'views/layout/post_admin.tpl.html'" ng-show="user.loggedIn"></div>
    <div ng-controller="PostShare" ng-include="'views/layout/' + share_tpl + '.tpl.html'"></div>
</div>
