<div class="row">
  <section role="main">
    <div class="posts" class="row">
      <div class="large-10 columns">
        <ul class="article" ng-repeat="post in posts">
          <li>
            <a href="#/posts/{{post._id}}/{{post.seo_url}}">
              <h2>{{post.title}}</h2>
              <img ng-show="post.banner && post.banner !== ''" ng-src="{{post.banner}}">
            </a>
            <br /><br />
            <p ng-show="post.preface !== ''">
              <span ng-bind-html="post.preface"></span>
              <a href="#/posts/{{post._id}}/{{post.seo_url}}">Read more <span class="meta-nav">→</span></a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
