<div class="row" ng-repeat="post in posts | limitTo:1">
    <section role="main">
        <div class="row post">
            <div class="large-10 small-12 columns">
                <h1>{{post.title}}</h1>
                <p></p>
                <div id="post-body" ng-bind-html="post.body"></div>
                <span>created: {{post.created | date:'shortDate'}}</span>
                <p></p>
            </div>
        </div>
    </section>
</div>
<div class="row" ng-include="'views/layout/' + share.tpl + '.tpl.html'"></div>